<%= form_for([@question.question_set, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question_set from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
     <%= f.text_field :value, class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit action_name == "new" ? "Create Question" : "Edit Question", class: "btn btn-default" %>
  </div>
<% end %>
