<h2>Change Your Password</h2>

<%= form_for @user, url: password_reset_path(@user.password_reset_token), html: {method: :patch} do |form| %>
    
  <div class="form-group">
  <%= form.label :password %>
  <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= form.label :password_confirmation, "Password (again)" %>
  <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= submit_tag "Change Password", class: "btn btn-default" %>
<% end %>
