<%= form_for(@question_set) do |f| %>
  <% if @question_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_set.errors.count, "error") %> prohibited this question_set from being saved:</h2>

      <ul>
      <% @question_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= f.label :name, "Name" %><br />
     <%= f.text_field :name, class:"form-control"  %>
  </div>
  <div class="form-group">
      <%= f.label :description, "Description" %><br />
     <%= f.text_area :description, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit action_name == "new" ? "Create Question Set" : "Edit Question Set", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
