<h2 class="page-title"><%= @question_set[:name] %></h2>
<p><strong>Description: </strong><%= @question_set[:description] %></p>
<ul class="list-group">
<% @question_set.questions.each do |question| %>
    <li id="<%= dom_id(question) %>", class="list-group-item">
      <%= question[:value] %>
  <%= question[:used] ? "(used)" : "(not used)" %>
      <%= link_to 'Edit', edit_question_set_question_path(@question_set, question), class: "btn btn-link btn-xs pull-right" %>
      <%= link_to 'Destroy', question_set_question_path(@question_set,question), method: :delete, class: "btn btn-link btn-xs pull-right"%>
    </li>
<% end %>
    <li id="new">
    <%= link_to 'Add Question', new_question_set_question_path(@question_set), class: "btn btn-primary btn-block" %>
    </li>
</ul>
<footer class="footer">
<ul class="link-list pull-right">
    <li><%= link_to 'Edit', edit_question_set_path(@question_set), class: "btn btn-link" %></li>
    <li><%= link_to 'Back', question_sets_path, class: "btn btn-link" %></li>
</ul>
</footer>
