<!DOCTYPE html>
<html>
<head>
  <title>TableTopics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to "Table Topics Master", table_topics_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Table Topics", table_topics_path %></li>
        <li><%= link_to "Edit Questions" ,question_sets_path %></li>
        <li><%= link_to auth_text, auth_link %>
        <% if !signed_in %>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>" role="alert">
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
  <footer class="footer">
      <div class="container">
          <ul class="link-list pull-right">
              <li>Table Topics Master</li>
              <li><a class="btn btn-link" href="https://github.com/kate-young/Table-Topics">Github</a></li>
           <ul>    
      </div>
  </footer>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
